@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>

<div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Phone Number</label>
        <input type="number" class="form-control" id="phonenumber" aria-describedby="phonenumber">
      
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Purpose Document</label>
        <input type="file" class="form-control" id="file" aria-describedby="file">
        <label> Please include a letter on why you need this document</label>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>