@{
    ViewData["Title"] = "Home Page";
}
<div id="mainbody">
    <div class="row">
        <div class="col-md-1">
        <img class="row align-items-center" src="~/photos/nepal.png" style="width:100px;height:100px;" />
        </div>
<div class="col-md-11 align-items-center" id="head">
  <h1> TRANSPARENCY   ||   ACCOUNTABILITY  ||   RESPONSIBILITY</h1>
</div>
       

</div>
<br />
<br />

<div class="col-12 row align-items-center" id="info">
    <h4>Do you know about RIGHT TO INFORMATION?</h4>
    <h5>
        It is the right to ask for and obtain information of public importance held in the Public Bodies and this term shall also include the right to study or observation of any written document, material held in Public Body or proceedings of such Public Body.
    </h5>
</div>
<br />
<br />
<br />

<div class="col-12 row align-items-center" id="infoNepali">
    <h4>के तपाईलाई सूचनाको अधिकारको बारेमा थाहा छ?</h4>
    <h5>
        सार्वजनिक निकायमा रहेको सार्वजनिक महत्वको सूचना माग्ने र प्राप्त गर्ने अधिकार यस शब्दले सार्वजनिक निकायमा रहेको कुनै पनि लिखित दस्तावेज, सार्वजनिक निकायमा रहेको सामग्री वा त्यस्ता सार्वजनिक निकायको कारबाहीको अध्ययन वा अवलोकन गर्ने अधिकारलाई पनि समावेश गर्नेछ। 
    </h5>
</div>
<br />
<br />
<br />
<div class="col-12 row align-items-center" id="Services">
    <h5>Our Services</h5>
    <table>
        <td>Ask Expense Report of your local Government</td>
        <td>Ask Details about Properties of Authorities</td>
        <td>Reuest for Document TODAY!</td>
    </table>
</div>
</div>