@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center row">
    <div class="servicebox col-sm-4">
        <img src="~/photos/nepal.png" /><br />
        <label>Ministry of Eduction</label><br />
        <a href="../Request/Create"><button class="btn-primary">Request for Document</button></a>
    </div>
    <div class="servicebox col-sm-4">
        <img src="~/photos/nepal.png" /><br />
        <label>Ministry of Finance</label><br />
        <a href="../Request/Create"><button class="btn-primary">Request for Document</button></a>
    </div>
    <div class="servicebox col-sm-4">
        <img src="~/photos/nepal.png" /><br />
        <label>Ministry of Foreing affairs</label><br />
        <a href="../Request/Create"><button class="btn-primary">Request for Document</button></a>
    </div>
</div>
<div class="text-center row">
    <div class="servicebox col-sm-4">
        <img src="~/photos/nepal.png" /><br />
        <label>Ministry of Sports</label><br />
        <a href="../Request/Create"><button class="btn-primary">Request for Document</button></a>
    </div>
    <div class="servicebox col-sm-4">
        <img src="~/photos/nepal.png" /><br />
        <label>Ministry of Labor</label><br />
        <a href="../Request/Create"><button class="btn-primary">Request for Document</button></a>
    </div>
    <div class="servicebox col-sm-4">
        <img src="~/photos/nepal.png" /><br />
        <label>Ministry of Energy</label><br />
        <a href="../Request/Create"><button class="btn-primary">Request for Document</button></a>
    </div>
</div>
